.sсrollableTableBox {
  display: grid;
  font-size: 20px;
  width: 100%;
  max-width: 600px;
  white-space: nowrap;
}

.sсrollableTableBox > table {
  position: relative;
  border-collapse: collapse;
  border-spacing: 0px;
}

.sсrollableTableBox > table > thead {
  border: solid 1px black;
  position: sticky;
  top: 0;
  background: white;
}

.sсrollableTableBox > table > tbody > tr:nth-child(1n) > td:nth-child(1n) {
  border: solid 1px black;
  padding: 0 10px;
}

.sсrollableTableBox > table > tbody > tr:last-child {
  font-weight: bold;
}
